body {
  background-image: linear-gradient(to left bottom, #000000, #14084b);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
    align-items: flex-start;   /* empurra para cima */
  padding-top: 80px;         /* controla altura */
}



form {
  display: grid;
  background-color: rgba(255, 255, 255,);
  backdrop-filter: blur(10px);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 400px;
}

input {
  margin-top: 10px;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
  padding: 8px 0;
  color: white;
  font-size: 16px;
  transition: border-bottom-color 0.3s ease;
}

input:focus {
  border-bottom-color: white;
}

/* Modificar a cor do placeholder */
input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

/* Remover a aparência padrão do input password */
input[type="password"] {
  color: white;
  letter-spacing: 0.2em;
}

h1 {
  color: white;
}

button {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.3s ease;
    backdrop-filter: blur(5px);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

a{
  color: white;
  text-decoration: none;
}